{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sixerr App</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/indico.js' %}"></script>

  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="{% static 'img/logo.jpg'%}" height="23"></a>
          </div>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Find Services">
            </div>
          </form>
        </div>
      </div>
      <div id="category">
        <div class="container">
          <ul class="nav navbar-nav">
            <li><a href="#">About Us</a></li>
            <li><a href="{% url 'analyst' %}">Analysts</a></li>
            <li><a href="{% url 'diplomat' %}">Diplomats</a></li>
            <li><a href="{% url 'sentinel' %}">Sentinels</a></li>
            <li><a href="{% url 'explorer' %}">Explorers</a></li>
        </div>
      </div>

      <div class="container">
        <h1>WOOHOO OUR PREDICTION IS "DIPLOMAT"</h1>
      <div class="">
        <h3>Approach</h3>
        <p>The first step to take in connecting with the Healer is to build a personal relationship. Don't focus on trying to sell from the start - rather make effort to connect by being genuinely interested in them. Show sincerity in your interest.</p>
      </div>
      <div class="">
        <h3>Recommendation</h3>
        <p>Share your personal belief in the product you are selling and communicate the passion you have for the product. Even though your passion may be different from theirs, they enjoy seeing someone who is deeply certain about what they stand for. If it is relevant, talk about your product elevants the mental, emotional and spiritual well-being of others - Healers, as their name suggests, want to see the world become better and humanity lifted up.</p>
      </div>
      <div class="">
        <h3>Sales Script</h3>
        <p>The People Mastery system promotes greater self-understanding and greater understanding between people. I’m going to help each individual recognize their unique value as a salesperson and increase their self-esteem. After all, being confident in who you are is an important first step to succeeding in life.
It’s a great tool for self-discovery as people begin to learn more about themselves. I believe that as there is greater self-awareness, there will be better communication and we can have more harmony in the workplace, community and the world. I hope to bring this to every household and office, so that there is less conflict, and more love to go around. </p>
      </div>
      <div class="">
        <h3>Actionable steps</h3>
        <ul>
          <li>Making the world a better place via greater understanding</li>
          <li>Help each individual recognize their unique value and increase their self-esteem</li>
          <li>A tool for self-discovery</li>
          <li>Greater acceptance between people of the world</li>
          <li>Improve workplace communication and harmony</li>
        </ul>
      </div>
      <div class="">
        <h3>Closing</h3>
        <p>Want to Learn How to Close This Prospect and Dramatically Increase Your Confidence in Selling? Sign for the People Mastery for Sales Program and Learn how you can!</p>
      </div>
      </div>


<footer id="footer">
 <div class="container">
   <span>MBTI App &copy; 2017</span>
 </div>
</footer>
</body>
</html>
