{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sixerr App</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/indico.js' %}"></script>

  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="{% static 'img/logo.jpg'%}" height="23"></a>
          </div>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Find Services">
            </div>
          </form>
        </div>
      </div>
      <div id="category">
        <div class="container">
          <ul class="nav navbar-nav">
            <li><a href="#">About Us</a></li>
            <li><a href="{% url 'analyst' %}">Analysts</a></li>
            <li><a href="{% url 'diplomat' %}">Diplomats</a></li>
            <li><a href="{% url 'sentinel' %}">Sentinels</a></li>
            <li><a href="{% url 'explorer' %}">Explorers</a></li>
        </div>
      </div>

      <div class="container">
        <h1>WOOHOO OUR PREDICTION IS "SENTINEL"</h1>
      <div class="">
        <h3>Approach</h3>
        <p>You should take a straightforward, direct approach when engaging the Knights. Set the agenda from the start and share about your years of experience in the industry and any certifications you have from authoritative bodies.</p>
      </div>
      <div class="">
        <h3>Recommendation</h3>
        <p>Be prepared and organized with the facts - Knights often request for details of the product and they would like to compare your product to other similar products as well so that they know they're getting the best value for money. To support the value of your product, remember to back up your pitch with statistics, hard data and real life testimonials.</p>
      </div>
      <div class="">
        <h3>Sales Script</h3>
        <p>Prepare an industry analysis and focus on selling the concept of your product, rather than going into details about your product. Wizards tend to like discussing concepts rather than be bogged down by details. Occasionally, they do ask for details, but it is usually so that they can do their own analysis. Be prepared to be challenged, and explain with logical reason why your product is preferred.</p>
      </div>
      <div class="">
        <h3>Actionable steps</h3>
        <ul>
          <li>Used by top Forbes 500 companies</li>
          <li>Discover what MDRT agents are doing that you’re not.</li>
          <li>This science is developed over 100 years ago and has been used by many scientists since</li>
          <li>Testimonials [Show videos/success stories]</li>
          <li>MBTI Practitioner Certificate</li>
        </ul>
      </div>
      <div class="">
        <h3>Closing</h3>
        <p>Want to Learn How to Close This Prospect and Dramatically Increase Your Confidence in Selling? Sign for the People Mastery for Sales Program and Learn how you can!</p>
      </div>
      </div>


<footer id="footer">
 <div class="container">
   <span>MBTI App &copy; 2017</span>
 </div>
</footer>
</body>
</html>
